{% extends "partials/account_base.html" %} {% load i18n %} {% load account %} {%
load allauth %} {% block head %}
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>
{% endblock head %} {% block head_title %} {% trans "Confirm Email Address" %}
{% endblock head_title %} {% block content %}
<div class="container mt-5">
  <h1 class="display-4">{% trans "Confirm Email Address" %}</h1>
  {% if confirmation %} {% user_display confirmation.email_address.user as
  user_display %} {% if can_confirm %}
  <p class="lead">
    {% blocktrans with confirmation.email_address.email as email %} Please
    confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an email
    address for user {{ user_display }}. {% endblocktrans %}
  </p>
  {% url 'account_confirm_email' confirmation.key as action_url %}
  <form method="post" action="{{ action_url }}" class="mt-4">
    {% csrf_token %} {{ redirect_field }}
    <button type="submit" class="btn btn-primary btn-block">
      {% trans 'Confirm' %}
    </button>
  </form>
  {% else %}
  <p class="text-danger">
    {% blocktrans %} Unable to confirm {{ email }} because it is already
    confirmed by a different account. {% endblocktrans %}
  </p>
  {% endif %} {% else %}
  <p class="text-danger">{% trans "Invalid confirmation link." %}</p>
  {% endif %}
</div>
{% endblock content %}
