{% extends "partials/teacher-base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container w-75 offset-2 p-5">
   
    <h1 class="text-success">Teacher Dashboard</h1>
    <hr>
    <p><strong>Teacher</strong>: {{ request.user }}</p>
    <p class="bg-secondary p-2 text-dark">&nbsp;&nbsp;{{my_assigned_class}}</p>
    <hr>
    <h2>My Classes</h2>
    
    <div class="row d-flex gap-3 "> 
        {% if my_classes_students %}
            {% for class_info in my_classes_students %}
            
            <div class="col-md border shado rounded  p-2">
                <h6>Class: {{ class_info.class_.name }}</h6>

                <p class=" p-1 rounded">Total Students: {{ class_info.students_count }}</p>
                <div class="d-flex ">
                   <p>Girls: <span class="badge rounded-pill bggirls">{{ class_info.female_students.count }}</span></p>&nbsp;
                   <p>Boys: <span class="badge rounded-pill bg-info">{{ class_info.male_students.count }}</span></p> 
                </div>
                
                <a href="{% url 'classroom_details' pk=class_info.class_.id %}" class="btn btn-light">Class Details</a>
            </div>
            {% endfor %}
        {% else %}
            <p>No classes assigned.</p>
            
        {% endif %}
    </div>
    <hr>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% if my_subjects %}
            {% for subject in my_subjects %}
            <div class="col">
                <div class="card h-100">
                  <div class="card-body">
                    <h5 class="card-title">{{ subject }}</h5>
                    <a href="{% url 'capture' subject.id %}" class="btn btn-primary">Go to {{subject}}</a>
                    <a href="{% url 'create_assignment' subject.id %}" class="btn btn-info"> Online Assignment</a>

                  </div>
                </div>
              </div>
            {% endfor %}
        {% else %}
            <p>No subjects assigned.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
