{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8  p-5 shadow">
                <h1>Subject List</h1>
                <ul>
                    {% for school_subject in all_subjects %}
                        <li>
                            <ul>
                                {% for subject in school_subject.subjects.all %}
                                    <li>subject :id {{ subject.cid }} {{ subject }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                             {% if pk %}
                            <a href="{% url 'edit_schoolsubjects' pk %}" class="btn btn-primary">Edit Subjects </a>
                        {% else %}
                            <p>No subjects available to edit.</p>
                        {% endif %}
                    {% comment %} <a href="{% url 'edit_schoolsubjects' pk %} " class="btn btn-primary">Edit Subject List</a> {% endcomment %}
                <a href="{% url 'class_name'%}" class="btn btn-dark">next step 4</a>
            </div>
        </div>
    </div>
{% endblock %}