{% extends "partials/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="offset-md-1 mt-5">
    <div class="col-8 p-3 offset border shado">
        <h2>Create Academic Calendar:{{academic_year}}</h2>
        <form method="post">
            {% csrf_token %}
            <div class="container p-3">
                <div class="mb-3">
                    {{ form.academic_year.label_tag }}  {{ form.academic_year }}
                </div>
                <div class="term1 mb-3">
                    <div class="row g-2">
                        <div class="col">
                            {{ form.term_1_start_date.label_tag }} {{ form.term_1_start_date }}
                        </div>
                        <div class="col">
                            {{ form.term_1_end_date.label_tag }} {{ form.term_1_end_date }}
                        </div>
                    </div>
                </div>
                <div class="term2 mb-3">
                    <div class="row g-2">
                        <div class="col">
                            {{ form.term_2_start_date.label_tag }} {{ form.term_2_start_date }}
                        </div>
                        <div class="col">
                            {{ form.term_2_end_date.label_tag }} {{ form.term_2_end_date }}
                        </div>
                    </div>
                </div>
                <div class="term3 mb-3">
                    <div class="row g-2">
                        <div class="col">
                            {{ form.term_3_start_date.label_tag }} {{ form.term_3_start_date }}
                        </div>
                        <div class="col">
                            {{ form.term_3_end_date.label_tag }} {{ form.term_3_end_date }}
                        </div>
                    </div>
                </div>
                <div class="term4 mb-3">
                    <div class="row g-2">
                        <div class="col">
                            {{ form.term_4_start_date.label_tag }} {{ form.term_4_start_date }}
                        </div>
                        <div class="col">
                            {{ form.term_4_end_date.label_tag }} {{ form.term_4_end_date }}
                        </div>
                    </div>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-dark">Create Academic Calendar</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}