<!-- filepath: /C:/Users/tjman/OneDrive/school/templates/district/register_school_head.html -->
{% extends "partials/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row mt-5" style="height: 50vh;">
    <div class="col-8 offset-md-1 p-3  shadow-lg">
        <h1 class="text-primary">Register District Admin</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row m-3">
                <div class="col">
                    <label for="id_email" class="form-label requiredField">
                        Email<span class="asteriskField">*</span>
                    </label>
                    {{ form.email }}
                </div>
            </div>
            <div class="row m-3">
                <div class="col">
                    <label for="id_first_name" class="form-label requiredField">
                        First Name<span class="asteriskField">*</span>
                    </label>
                    {{ form.first_name }}
                </div>
                <div class="col">
                    <label for="id_last_name" class="form-label requiredField">
                        Last Name<span class="asteriskField">*</span>
                    </label>
                    {{ form.last_name }}
                </div>
            </div>
           
            <div class="row m-3">
                <div class="col">
                    <label for="id_password1" class="form-label requiredField">
                        Password<span class="asteriskField">*</span>
                    </label>
                    {{ form.password1}}
                </div>
            </div>
            <div class="row m-3">
                <div class="col">
                    <label for="id_password2" class="form-label requiredField">
                        Password Confirm<span class="asteriskField">*</span>
                    </label>
                    {{ form.password2}}
                </div>
            </div>
            <hr class="text-primary">
            <button type="submit" class="btn btn-dark">Create School Admin</button> 

       </form>
    </div>
</div>
{% endblock %}