{% extends "partials/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container offset-md mt-5">
    <div class="col-md-8 shadow   rounded p-3 rounded">
        <h3 > Subject Form</h3>
        
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid">
                <button type="submit" class="btn btn-dark">Save 
                 </button> 
            </div>
        </form>
        {% for subject in all_subjects%}
        <span class="badge" style="background-color:{{subject.color}};">--{{subject}}--</span>
        {%endfor%}
    </div>
</div>
  
{% endblock %}