<!-- File: c:\Users\tjman\OneDrive\school\templates\assignment\assignment_submission.html -->

{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4 offset-md-1">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h2 class="card-title">Submit Assignment: {{ assignment.title }}</h2>
                </div>
                <div class="card-body">
                    <p class="card-text"><strong>Subject:</strong> {{ assignment.subject }}</p>
                    <p class="card-text"><strong>Due Date:</strong> {{ assignment.due_date }}</p>
                    <p class="card-text"><strong>Description:</strong>{{ assignment.description }}</p>
                    <hr>

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-success mt-2">Submit</button>
                         <a href="{% url 'assignments_list' assignment.subject.id %}" class="btn btn-secondary mt-2">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
